TZ=Asia/Jakarta

PGHOST=host.docker.internal
PGPORT=5432
PGDATABASE=monitoring_db
PGUSER=monitoring_user
PGPASSWORD=change_me
PGSCHEMA=monitoring
PGCONNECT_TIMEOUT=10

WRITE_INTERVAL_SECONDS=60
BLACKBOX_RAW_RETENTION_DAYS=30
BLACKBOX_KPI_RETENTION_DAYS=400
BLACKBOX_TARGET_INACTIVE_AFTER_SECONDS=86400
BLACKBOX_RUN_MIGRATIONS=false
PROMETHEUS_QUERY_OVERLAP_SECONDS=180
PROMETHEUS_BACKFILL_CHUNK_SECONDS=3600
PROMETHEUS_INITIAL_BACKFILL_SECONDS=3600
PROMETHEUS_MAX_BACKFILL_SECONDS=1296000
PROMETHEUS_MAX_BACKFILL_CHUNKS_PER_CYCLE=6
WRITER_METRICS_PORT=8080
